/* Write your global styles here, if any */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	@apply bg-white text-gray-600 antialiased dark:bg-gray-900 dark:text-gray-400;
}
